<?xml version="1.0"?> 
<launch> 

<rosparam command="load" file="$(find multi_spin_demo)/config/turtlebot_list.yaml"/>
<arg name="use_sim_time" default="true"/>
<node name="clock_server" pkg="multi_spin_demo" type="clock_server_node"  output = "screen"/>

<arg name ="robot_name1" default = "pturtle"/>
<arg name ="robot_name2" default = "mturtle"/>

<node name="$(arg robot_name1)_action_server" pkg="multi_spin_demo" type="turtlebot_action_server_node" args="$(arg robot_name1)" output = "screen"/>
<node name="$(arg robot_name2)_action_server" pkg="multi_spin_demo" type="turtlebot_action_server_node" args="$(arg robot_name2)" output = "screen"/>

	

</launch>
