<?xml version="1.0"?> 
<launch> 




<arg name ="robot_name" default = "pturtle"/>
		<group ns ="$(arg robot_name)">
		<include file = "$(find turtlebot_bringup)/launch/minimal.launch" output = "screen">
		</include>
		</group>

		<node name="$(arg robot_name)_action_server" pkg="multi_spin_demo" type="turtlebot_action_server_node" args="$(arg robot_name)" output = "screen"/>

	

</launch>
